:host {
    position: relative;
    height: 100%;
    height: 60px;
    background-color: #FAFAFA;
    border-bottom: 1px solid #BDBDBD;
}

.progress-background {
    z-index: 1;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    width: 30px;
    background-color: #2ecc71;
}


.uploaded {
    background-color: #3498db;
    border-bottom: 1px solid white;
}

.complication {
    display: inline-flex;
    margin: 0 5px;
    font-weight: bold;
    justify-self: end;
    .icon {
        display: inline-block;
        margin-right: 3px;
    }
}

.form-file {
    display: block;
    margin: 0 auto;
}

.torrent-info {
    display: flex;
    padding: 15px;
    align-items: center;
    z-index: 2;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    &__title{
        display: inline-flex;
        color: #2c3e50;
        margin-right: 15px;
    }
    .icon-lead {
        font-size: 25px;
        display: inline-block;
        margin-right: 10px; 
        color: #FAFAFA;
    }
}