<div class="home-route window">
  <header class="toolbar toolbar-header toolbar-global-info">
    <div class="card card--toolbar-global-info"></div>
    <div class="card card--toolbar-global-info"></div>
    <div class="card card--toolbar-global-info"></div>
    <div class="card card--toolbar-global-info"></div>
    <!--
    <div class="toolbar-actions">
      <div class="btn-group">
        <button class="btn btn-default">
          <span class="icon icon-home"></span>
        </button>
        <button class="btn btn-default">
          <span class="icon icon-folder"></span>
        </button>
        <button class="btn btn-default active">
          <span class="icon icon-cloud"></span>
        </button>
        <button class="btn btn-default">
          <span class="icon icon-popup"></span>
        </button>
        <button class="btn btn-default">
          <span class="icon icon-shuffle"></span>
        </button>
      </div>
  
      <button class="btn btn-default">
        <span class="icon icon-home icon-text"></span>
        Filters
      </button>
  
      <button class="btn btn-default btn-dropdown pull-right">
        <span class="icon icon-megaphone"></span>
      </button>
    </div>
    -->
  </header>
  <div class="window-content">
    <div class="pane-group">
      <div class="pane">
          <ul class="list-group">
            <li class="list-group-header">
              <input class="form-control" type="text" placeholder="Search for someone">
            </li>
            <li class="list-group-item" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" >
                <div class="img-circle media-object pull-left" style="background-color: red; height: 32px; width: 32px;"></div>
              <div class="media-body">
                <strong>List item title</strong>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </li>
          </ul>
      </div>
      <div class="pane">
        <ul class="list-group">
            <li class="list-group-header">
              <input class="form-control" type="text" placeholder="Search for someone">
            </li>
            <li class="list-group-item" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" >
              <div class="img-circle media-object pull-left" style="background-color: red; height: 32px; width: 32px;"></div>
              <div class="media-body">
                <strong>List item title</strong>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </li>
          </ul>
      </div>
      <div class="pane">Hey Hey Hey</div>
    </div>
  </div>
  <footer class="toolbar toolbar-footer">
    <h1 class="title">Footer</h1>
  </footer>
</div>
