.home-route {
  height: 100%;
  width: 100%;

  $total-cards: 3;

  .toolbar-global-info {
    display: flex;
    height: 20%;
    min-height: 150px;
    padding: 20px 0 20px 20px;
  }

  .card--toolbar-global-info {
    flex: 0 1 auto;
    width: 100%;
    height: 100%;
    margin-right: 20px;
  }

  .card--create-wallet {
    position: relative;
    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .balance {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
    }
  }

  .pane--public {
    padding: 20px;
  }
}
