<div class="home-route window">
  <header class="toolbar toolbar-header toolbar-global-info">
    <div class="card card--toolbar-global-info card--create-wallet">
        <div class="card__center-content">
            <svg-icon src="assets/logo.svg" class="logo-icon" [svgStyle]="{ 'width.px':30, 'height.px': 40 }"></svg-icon>
            <button
              *ngIf="balance == null"
              type="login"
              class="btn btn-form btn-large btn-default btn-create"
              (click)="createWallet()"
            >
              Create Wallet
            </button>
            <div *ngIf="balance != null" class="balance">
              <span>{{balance}}</span> <sup class="currency">ETH</sup>
            </div>
            <div *ngIf="address" class="address" (click)="copyAddress()">
              {{address}}
            </div>
        </div>
    </div>
    <div class="card card--toolbar-global-info card--public">
      <div class="card__center-content">
        <form class="upload-form">
          <div class="form-group">
            <label class="card__title">Upload</label>
            <input type="file" class="form-file" placeholder="Upload file" #file (enter)="submitFile()">
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-form btn-default" (click)="clearFile()">Clear</button>
            <button type="submit" class="btn btn-form btn-primary" (click)="submitFile()">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="card card--toolbar-global-info card--public">
      <div class="card__center-content">
        <form class="upload-form">
          <div class="form-group">
            <label class="card__title">Download</label>
            <input type="text" class="form-control" placeholder="URI" [formControl]="magnet" (enter)="submitMagnet()">
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-form btn-default" (click)="clearMagnet()">Clear</button>
            <button type="submit" class="btn btn-form btn-primary" (click)="submitMagnet()">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="card card--toolbar-global-info">
      <div class="card__center-content card__fund">
        <div class="form-group">
          <label class="card__title">Fund</label>
          <div id="withdrawable"></div>
          <input type="text" numbersOnly required class="form-control" placeholder="Amount (ETH) to Donate" [formControl]="fund" (enter)="fund()">

          <a href="https://app.squarelink.com/tx?
              client_id=12b0990373054f099794&to=0x91A9709D96cf79420F12E01AC23dD779eAd97bFF&amount=10000000000000000">
              <img src="https://squarelink.com/img/sign-tx.svg" width="220"/>
          </a>

      <button type="fund" class="btn btn-form btn-default" (click)="sendFund()">Fund</button>

      <button type="withdrawal" class="btn btn-form btn-default" (click)="withdrawal()">Withdrawal</button>



          <!--

          -->
        </div>

      </div>
    </div>
  </header>
  <div class="window-content">
    <div class="pane-group">
      <div class="pane">
          <ul class="list-group">
            <li class="list-group-header list-group-header--title">
              <h5>Downloads</h5>
            </li>
            <ng-container *ngIf="downloads.length > 0">
              <li
                app-list-item-torrent
                [download]="download"
                *ngFor="let download of downloads"
                (onFinish)="finishTorrent($event,download)"
                [isUpload]="false"
              ></li>
            </ng-container>
            <ng-container *ngIf="downloads.length === 0" >
              <div class="empty-state">
                <span class="icon icon-down-circled"></span>
                <h3>No Current Downloads</h3>
              </div>
            </ng-container>
          </ul>
      </div>
      <div class="pane">
        <ul class="list-group">
            <li class="list-group-header list-group-header--title">
              <h5>Uploads</h5>
            </li>
            <ng-container *ngIf="uploads.length > 0">
              <li
                app-list-item-torrent
                [download]="upload"
                *ngFor="let upload of uploads"
                [isUpload]="true"
              ></li>
            </ng-container>
            <ng-container *ngIf="uploads.length === 0" >
                <div class="empty-state">
                  <span class="icon icon-up-circled"></span>
                  <h3>No Current Uploads</h3>
                </div>
              </ng-container>
          </ul>
      </div>
    </div>
  </div>
  <footer class="toolbar toolbar-footer">
  </footer>
</div>
