<div class="home-route window">
  <header class="toolbar toolbar-header toolbar-global-info">
    <div class="card card--toolbar-global-info"></div>
    <div class="card card--toolbar-global-info"></div>
    <div class="card card--toolbar-global-info"></div>
    <div class="card card--toolbar-global-info"></div>
  </header>
  <div class="window-content">
    <div class="pane-group">
      <div class="pane">
          <ul class="list-group">
            <li class="list-group-header">
              <input class="form-control" type="text" placeholder="Search for someone">
            </li>
            <li class="list-group-item" *ngFor="let download of downloads" >
                <div class="img-circle media-object pull-left" style="background-color: red; height: 32px; width: 32px;"></div>
              <div class="media-body">
                <strong>{{download.name}}</strong>
                <p>{{download.progress}}</p>
              </div>
            </li>
          </ul>
      </div>
      <div class="pane">
        <ul class="list-group">
            <li class="list-group-header">
              <input class="form-control" type="text" placeholder="Search for someone">
            </li>
            <li class="list-group-item"  >
              <div class="img-circle media-object pull-left" style="background-color: red; height: 32px; width: 32px;"></div>
              <div class="media-body">
                <strong>List item title</strong>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </li>
          </ul>
      </div>
      <div class="pane pane--public">
          <form>
            <div class="form-group">
              <label>Magnet URI</label>
              <input type="text" class="form-control" placeholder="URI" [formControl]="magnet">
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-form btn-default" (click)="clearMagnet()">Clear</button>
              <button type="submit" class="btn btn-form btn-primary" (click)="submitMagnet()">Submit</button>
            </div>
          </form>
      </div>
    </div>
  </div>
  <footer class="toolbar toolbar-footer">
    <h1 class="title">Footer</h1>
  </footer>
</div>
